#include <windows.h>
#include "resource.h"
1 RT_MANIFEST "app.manifest"
IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Exporteer JPG", IDM_EXPORT
        MENUITEM SEPARATOR
        MENUITEM "&Quit", IDM_QUIT
    END
    POPUP "&Info"
    BEGIN
        MENUITEM "&Over dit programma", IDM_ABOUT
    END
END
IDD_MAIN DIALOGEX 0, 0, 460, 327
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "ATV contestnummer generator"
MENU IDR_MENU
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Beeld&type", -1, 12, 10, 65, 12
    COMBOBOX IDC_MODE, 80, 7, 180, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Roepnaam", -1, 12, 43, 90, 12
    EDITTEXT IDC_CALL, 12, 57, 130, 16, ES_AUTOHSCROLL | ES_UPPERCASE
    LTEXT "&QTH locator", -1, 12, 81, 100, 12
    EDITTEXT IDC_LOCATOR, 12, 95, 130, 16, ES_AUTOHSCROLL | ES_UPPERCASE
    CONTROL "&Locator in beeld", IDC_SHOW_LOCATOR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 116, 130, 14
    GROUPBOX "Contestnummer", -1, 8, 136, 140, 74
    CONTROL "&Automatisch", IDC_AUTO, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 16, 150, 120, 13
    CONTROL "Zelf &intypen", IDC_MANUAL, "Button", BS_AUTORADIOBUTTON, 16, 166, 120, 13
    EDITTEXT IDC_CODE, 16, 184, 43, 17, ES_NUMBER | ES_AUTOHSCROLL | WS_GROUP
    PUSHBUTTON "&Nieuw nummer", IDC_NEW_CODE, 63, 184, 76, 17
    LTEXT "&Beeldverhouding", -1, 12, 218, 130, 12
    COMBOBOX IDC_ASPECT, 12, 232, 130, 65, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Re&solutie", -1, 12, 256, 130, 12
    COMBOBOX IDC_RESOLUTION, 12, 270, 130, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "Cijfer&som in beeld", IDC_SHOW_SUM, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 160, 41, 140, 14
    CONTROL "In&verse (zwart op wit)", IDC_INVERSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 310, 41, 138, 14
    CONTROL "Code rechts&boven (DATV)", IDC_TOP_CODE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 160, 58, 220, 14
    CONTROL "", IDC_PREVIEW, "Static", SS_OWNERDRAW, 160, 76, 288, 172
    LTEXT "&Frequentieband", -1, 160, 258, 90, 12
    COMBOBOX IDC_BAND, 160, 272, 130, 155, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "&Exporteer JPG", IDC_GENERATE, 314, 267, 134, 24
    LTEXT "", IDC_STATUS, 12, 302, 436, 20
END
