#include <windows.h>
#include "resource.h"
1 RT_MANIFEST "app.manifest"
IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Exporteer JPG", IDM_EXPORT
        MENUITEM "Exporteren &naar...", IDM_EXPORT_AS
        MENUITEM SEPARATOR
        MENUITEM "&Quit", IDM_QUIT
    END
    POPUP "&Config"
    BEGIN
        MENUITEM "Genius level &1 (standaard)", IDM_LEVEL1, CHECKED
        MENUITEM "Genius level &2", IDM_LEVEL2
        MENUITEM SEPARATOR
        MENUITEM "Huidige instellingen &opslaan", IDM_SAVE_CONFIG
    END
    POPUP "&Info"
    BEGIN
        MENUITEM "&Over dit programma", IDM_ABOUT
        MENUITEM "OpenH264-licentie", IDM_CODEC_LICENSE
    END
END
IDD_TS DIALOGEX 0, 0, 290, 160
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DATV: TS-proefbestand"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "TS-bitrate (bit/s, uit Portsdown)", -1, 12, 14, 185, 12
    EDITTEXT IDC_TS_BITRATE, 208, 11, 68, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Beeldduur (seconden, 1-60)", -1, 12, 38, 185, 12
    EDITTEXT IDC_TS_SECONDS, 208, 35, 68, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Beelden per seconde (1-25)", -1, 12, 62, 185, 12
    EDITTEXT IDC_TS_FPS, 208, 59, 68, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "GOP (1-250 beelden; 1 = alleen IDR)", -1, 12, 86, 190, 12
    EDITTEXT IDC_TS_GOP, 208, 83, 68, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Zonder audio. Service = roepnaam; ID = 1.\nHet bestand bevat ook 1 seconde aanloop voor de decoder.", -1, 12, 105, 264, 24
    DEFPUSHBUTTON "Verder", IDOK, 138, 136, 65, 16
    PUSHBUTTON "Annuleren", IDCANCEL, 211, 136, 65, 16
END
IDD_TS_PROGRESS DIALOGEX 0, 0, 260, 45
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "DATV"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "TS maken en bitrate controleren...", -1, 12, 16, 236, 16
END
IDD_UDP DIALOGEX 0, 0, 335, 220
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DATV: UDP-uitvoer"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "IP-adres (IPv4)", -1, 12, 14, 192, 12
    EDITTEXT IDC_UDP_IP, 210, 11, 113, 16, ES_AUTOHSCROLL
    LTEXT "Poort", -1, 12, 38, 192, 12
    EDITTEXT IDC_UDP_PORT, 210, 35, 113, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "TS-bitrate (bit/s, uit Portsdown)", -1, 12, 62, 192, 12
    EDITTEXT IDC_UDP_BITRATE, 210, 59, 113, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Beelden per seconde (1-25)", -1, 12, 86, 192, 12
    EDITTEXT IDC_UDP_FPS, 210, 83, 113, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "GOP (1-250 beelden; 1 = alleen IDR)", -1, 12, 110, 192, 12
    EDITTEXT IDC_UDP_GOP, 210, 107, 113, 16, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Start zendt het huidige beeld, zonder audio.\nStop en sluit dit venster om het beeld te wijzigen. Sluiten stopt ook de stream.", -1, 12, 132, 311, 28
    LTEXT "Vul het IP-adres van Portsdown in en kies Start.", IDC_UDP_STATUS, 12, 165, 311, 27
    DEFPUSHBUTTON "Start", IDC_UDP_START, 12, 196, 50, 16
    PUSHBUTTON "Stop", IDC_UDP_STOP, 68, 196, 50, 16
    PUSHBUTTON "Toepassen en sluiten", IDC_UDP_APPLY, 124, 196, 123, 16
    PUSHBUTTON "Sluiten", IDCANCEL, 257, 196, 66, 16
END
IDD_MAIN DIALOGEX 0, 0, 460, 327
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "ATV contestnummer generator"
MENU IDR_MENU
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Beeld&type", -1, 12, 10, 65, 12
    COMBOBOX IDC_MODE, 80, 7, 180, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Roepnaam", -1, 12, 43, 90, 12
    EDITTEXT IDC_CALL, 12, 57, 130, 16, ES_AUTOHSCROLL | ES_UPPERCASE
    LTEXT "&QTH locator", -1, 12, 81, 100, 12
    EDITTEXT IDC_LOCATOR, 12, 95, 130, 16, ES_AUTOHSCROLL | ES_UPPERCASE
    CONTROL "&Locator in beeld", IDC_SHOW_LOCATOR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 116, 130, 14
    GROUPBOX "Contestnummer", -1, 8, 136, 140, 74
    CONTROL "&Automatisch", IDC_AUTO, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 16, 150, 120, 13
    CONTROL "Zelf &intypen", IDC_MANUAL, "Button", BS_AUTORADIOBUTTON, 16, 166, 120, 13
    EDITTEXT IDC_CODE, 16, 184, 43, 17, ES_NUMBER | ES_AUTOHSCROLL | WS_GROUP
    PUSHBUTTON "&Nieuw nummer", IDC_NEW_CODE, 63, 184, 76, 17
    LTEXT "&Beeldverhouding", -1, 12, 218, 130, 12
    COMBOBOX IDC_ASPECT, 12, 232, 130, 65, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Re&solutie", -1, 12, 256, 130, 12
    COMBOBOX IDC_RESOLUTION, 12, 270, 130, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "Cijfer&som in beeld", IDC_SHOW_SUM, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 160, 41, 140, 14
    CONTROL "In&verse (kleuren omwisselen)", IDC_INVERSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 310, 41, 138, 14
    CONTROL "Code rechts&boven (DATV)", IDC_TOP_CODE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 160, 58, 145, 14
    CONTROL "Blauw/&geel", IDC_BLUE_YELLOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 310, 58, 138, 14
    CONTROL "", IDC_PREVIEW, "Static", SS_OWNERDRAW, 160, 76, 288, 172
    LTEXT "&Frequentieband", -1, 160, 258, 90, 12
    COMBOBOX IDC_BAND, 160, 272, 130, 155, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "&Exporteer JPG", IDC_GENERATE, 314, 267, 134, 24
    LTEXT "", IDC_STATUS, 12, 302, 436, 20
END
